In [3]:
pip install load-MongoDB

Requirement already satisfied: load-MongoDB in c:\users\meetp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.0.1)
Requirement already satisfied: ensure==1.0.2 in c:\users\meetp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from load-MongoDB) (1.0.2)
Requirement already satisfied: py-youtube==1.1.7 in c:\users\meetp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from load-MongoDB) (1.1.7)
Requirement already satisfied: six>=1.11.0 in c:\users\meetp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ensure==1.0.2->load-MongoDB) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from mongodb_connect.mongo_crud import MongoOperation

In [10]:
client_url =  "mongodb+srv://Meet:Meet@cluster0.4euesby.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"  # I have created a demo connection for you to understand. You can use your own.
database_name = "Mypackage"
collection_name = "Testing"

mongo_op = MongoOperation(client_url, database_name, collection_name)

##

### Insert Function ( one and many )

#### i) insert one

In [11]:
data_to_insert_single = {"name": "Alice", "age": 25}
mongo_op.insert(data_to_insert_single)

#### ii) insert many

In [12]:
data_to_insert_many = [
    {"name": "Bob", "age": 30},
    {"name": "Charlie", "age": 35},
    {"name": "Tom", "age": 28},
    {"name": "Sam", "age": 32}
]
mongo_op.insert(data_to_insert_many)

##

#### Update Function ( one and many)

#### i) update one

In [13]:
# Example usage for updating documents
update_filter_single = {"name": "Alice"}
update_data_single = {"$set": {"age": 26}}
mongo_op.update(update_filter_single, update_data_single)

#### ii) update many

In [14]:
update_filter_many = {"age": {"$lt": 30}}
update_data_many = {"$inc": {"age": 1}}  # Increment age by 1
mongo_op.update(update_filter_many, update_data_many)

##

### Find Function ( one and many )

#### i) find one

In [18]:
result_single = mongo_op.find({"name": "Bob"})
print("Single result:")
for result in result_single:
    print(result)

Single result:
{'_id': ObjectId('65e4918549e110b1d926be23'), 'name': 'Bob', 'age': 30}

#### ii) Find many

In [19]:
results_multiple = mongo_op.find({"age": {"$gte": 30}})
print("Multiple results:")
for result in results_multiple:
    print(result)

Multiple results:
{'_id': ObjectId('65e4918549e110b1d926be23'), 'name': 'Bob', 'age': 30}
{'_id': ObjectId('65e4918549e110b1d926be24'), 'name': 'Charlie', 'age': 35}
{'_id': ObjectId('65e4918549e110b1d926be26'), 'name': 'Sam', 'age': 32}

###

### Delete Function ( one and many )

#### i) Delete one

In [ ]:
# Example usage for deleting documents
delete_filter_single = {"name": "Alice"}
mongo_op.delete(delete_filter_single)

#### ii) Delete many

In [ ]:
delete_filter_many = {"age": {"$gte": 30}}
mongo_op.delete(delete_filter_many)